<?xml version="1.0" encoding="UTF-8"?>

-<widget version="1.2.0" versionCode="10" id="com.TheInfoGeek.KMQuizzes" xmlns:gap="http://phonegap.com/ns/1.0" xmlns="http://www.w3.org/ns/widgets">

<!-- versionCode is optional and Android only -->


<name>Kindergarten Math Quizzes</name>

<description> One of the best ways to creatively engage your children. </description>

<author> Arjun Arvind </author>

<icon src="icon.png"/>

</widget>